<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}">Owl</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css" th:if="__${#locale}__=='ar'">
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.min.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/application.css}" />
    <!--<link rel="stylesheet" type="text/css" th:href="${#themes.code('styleSheet')}" />-->

</head>